//colors
$color_horizon_approx: rgba(91, 127, 166, 1);
$white: #ffffff;
$color_horizon_80_approx: rgba(91, 127, 166, 0.8);

.filter-button {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	font-size: 18px;
	border: 1px solid $color_horizon_approx;
	border-radius: 5px;
	text-align: center;
	color: $color_horizon_approx;
	margin-bottom: 30px;
	&:hover {
		font-size: 18px;
		border: 1px solid $color_horizon_approx;
		border-radius: 5px;
		text-align: center;
		color: $white;
		background-color: $color_horizon_approx;
	}
}
.galleryElement {
	margin-bottom: 30px;
	transform: scale(1);
	&:hover {
		margin-bottom: 30px;
		transform: scale(1.3);
		z-index: 5;
		.btn-switch-category-container button {
			color: $color_horizon_approx;
			background-color: transparent;
			border-width: 0;
			border-radius: 0;
			border-style: solid;
			border-color: transparent;
			&:hover {
				color: $white;
				position: relative;
				left: -50%;
				top: -50%;
				transform-origin: center;
				transform: scale(2);
				background-color: $color_horizon_80_approx;
				border-color: $color_horizon_approx;
				border-width: 1px;
				border-radius: 5%;
			}
		}
	}
	.btn-switch-category-container {
		position: absolute;
		left: 50%;
		top: 50%;
		button {
			color: transparent;
			position: relative;
			left: -50%;
			top: -50%;
			transform-origin: center;
			transform: scale(2);
			background-color: transparent;
			border-width: 0;
			border-radius: 0;
			border-style: solid;
			border-color: transparent;
		}
	}
	.status-label {
		position: absolute;
		left: 80%;
		top: 5%;
		background-color: $color_horizon_approx;
		color: $white;
		border-radius: 100%;
		width: 3rem;
		height: 3rem;
		text-align: center;
		border-color: $color_horizon_approx;
		border-width: 0.2rem;
		.fa {
			margin-top: 1rem;
			display: none;
		}
	}
}

// hide switch category for unprocessed elements
.galleryElement.unprocessed .btn-switch-category-container button {
	visibility: hidden;
}

// status-labels
.galleryElement.unprocessed .status-label .fa.fa-asterisk {
	display: inline-block !important;
}
.galleryElement.empty .status-label .fa.fa-file-o {
	display: inline-block !important;
}
.galleryElement.printed .status-label .fa.fa-file-text {
	display: inline-block !important;
}

.img-responsive-gallery {
	width: 100%;
	height: auto;
}
.btn-default:active .filter-button:active {
	background-color: $color_horizon_approx;
	color: $white;
}
.page-switcher-container {
	width: 99%;
}
.page-switcher {
	margin: 0.5rem;
}
