doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title MalSCC - Machine Learning Scan Classifier
    // Bootstrap core CSS
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css", rel='stylesheet')
    link(href="css/dropzone.css", rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel='stylesheet')
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i', rel='stylesheet')
    // Custom styles for this template
    link(href="/css/style.css", rel='stylesheet')
  body
    include github-ribbon.jade
    h1.site-heading.text-center.text-white.d-none.d-lg-block
      span.site-heading-upper.text-primary.mb-3 Machine Learning Scan Classifier
      span.site-heading-lower MalSCC
    section.page-section
      .container
        .intro
          .intro-text.left-0.text-center.bg-faded.p-5.rounded
            h2.section-heading.mb-4
              span.section-heading-upper Just
              span.section-heading-lower Upload
              span.section-heading-upper your PDF-Files or Images!
            // Upload Form
            //form#uploadDropZone.dropzone(action="localhost" acceptedfiles='image/*,.pdf')
            div#drop_zone.dropzone Drag &amp; Drop files here or
              br
              label.btn.btn-primary(for="browseFiles") Choose files to upload
              input#browseFiles(type="file" multiple)
            output#list
            .intro-button.mx-auto
              button.btn.btn-primary.btn-xl.startProcessing Let the show begin!
    section.page-section.cta
      .container
        .row
          .col-xl-9.mx-auto
            .cta-inner.text-center.rounded
              h2.section-heading.mb-4
                span.section-heading-upper We do the
                span.section-heading-lower Magic
              p
                | We use Machine Learning to classify empty pages and pages with content. The benefit is that even ruled paper or graph paper doesn't confuse us.
              p
                | But you should always check the result! We are only 
                strike humans
                |  robots too!
              // Start Button
              .intro-button.mx-auto
                button.btn.btn-primary.btn-xl.startProcessing Let the show begin!
    section.page-section
      span#review-anchor
      .row
        .col-md-2
        .col-md-8
          .container-fluid.cta-review.p-5
            .row
              h2.section-heading.mb-4.mx-auto
                span.section-heading-lower.mx-auto  Our Prediction
            div(align='center')
              button.btn.btn-default.filter-button(data-filter='all') All
              button.btn.btn-default.filter-button(data-filter='unprocessed') Unprocessed
              button.btn.btn-default.filter-button(data-filter='empty') Empty Pages
              button.btn.btn-default.filter-button(data-filter='printed') Pages with Content
            br
            #output-images-container
              .row
                // Images
              .page-switcher-container.text-center
                  button.btn.btn-primary.page-switcher.left
                    i.fa.fa-arrow-left
                  button.btn.btn-primary.page-switcher.right
                    i.fa.fa-arrow-right
            .row.filter.empty
              .col-md-4
              .intro-button.col-md-4
                button#downloadEmpty.btn.btn-primary.btn-xl.btn-block.my-3
                  i.fa.fa-download.animated
                  |  Empty Pages
            .row.filter.printed
              .col-md-4
              .intro-button.col-md-4
                button#downloadPrinted.btn.btn-primary.btn-xl.btn-block.my-3
                  i.fa.fa-download.animated
                  |  Pages with Content
    footer.footer.text-faded.text-center.py-5
      .container
        p.m-0.small Copyright © Lukas Mertens 2018
    // Babel Polyfill
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js")
    // Bootstrap core JavaScript
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js")
    // PDF.js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.worker.min.js")
    // Tensorflow.js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/0.11.2/tf.min.js")
    // JSZip
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js")
    // FileSaver.js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js")
    // browserify-bundle
    script(src="/js/bundle.js")
    // site-specific
    script(src="/js/waitingDialog.js")
    // script.
      Dropzone.options.uploadDropZone = {
      accept: function(file, done) {
      var thumbnail = $('.dropzone .dz-preview.dz-file-preview .dz-image:last');
      console.log("Accepted File");
      switch (file.type) {
      case 'application/pdf':
      thumbnail.css('background', 'url(img/pdf.png');
      break;
      }
      done();
      },
      };